<main ng-controller="MainCtrl">
    <div class="header container-fluid">
        <div class="maintext col-12">
            Wowie, <span class="ngRed">Angular 1.x</span> and <span class="wpBlue">Webpack</span>!
        </div>
        <nav class="nav col-12">

        </nav>
    </div>
    <div class="main container-fluid">
        <div class="row">
            <div class="filters col-sm-4">
            <h4>Link Filters</h4>
            <ul class="list-unstyled">
                <li ng-repeat="category in categories" >
                    <a class="btn btn-secondary" ng-class="{'active':isCurrentCategory(category)}" href="#" ng-click="setCategory(category)">{{category}}</a>
                </li>
                <li><a class="btn btn-secondary" href="#" ng-click="resetCategories()">Reset Filter</a></li>
            </ul>
        </div>
        <div class="links col-sm">
            <h3>Links</h3>
            <ul class="list-unstyled">
                <li ng-repeat="link in links | filter:{category:currentCategory}">
                    <a href="{{link.url}}">{{link.title}}</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</main>
