<main ng-controller="MainCtrl">
    <div class="header container-fluid">
        <div class="maintext col-5">
            Wowie, Angular 1.x and Webpack!
        </div>
        <nav class="nav col-7">

        </nav>
    </div>
    <div class="main container">
        <div class="filters col-2">
            <h3>Link Filter</h3>
            <ul>
                <li ng-repeat="category in categories">
                    <a href="#" ng-click="setCategory(category)">{{category}}</a>
                </li>
                <li><a href="#" ng-click="resetCategories()">Reset Filter</a></li>
            </ul>
        </div>
        <div class="links col-9">
            <h3>Links</h3>
            <ul>
                <li ng-repeat="link in links | filter:{category:currentCategory}">
                    <a href="{{link.url}}">{{link.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</main>
