.header {
    background: linear-gradient(0deg, rgba(200, 200, 200, 1) 20%, rgba(100, 100, 100, 1) 100%);
    padding: 2em;
    .ngRed {
        color: rgb(166, 18, 13);
    }
    .wpBlue {
        color: rgb(100, 100, 256);
    }
}

body {
    background: rgba(200, 200, 200, 1);
    font-weight: bold;
    .filters {
        background: rgba(190, 190, 190, 1);
        padding: 1em;
        border-radius: 2px;
        min-width: 230px;
        li {
            margin: 1px;
        }
    }
    .active {
        background: lightgrey;
        border-radius: 2px;
    }
}

.links {}

.maintext {
    font-size: 2em;
}
